<!DOCTYPE html>
<html>

<body>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><center><h1><strong>图书</strong>
  </h></h1></center></p>
<table border = 1 align = "center">
  <tr>
        <th><center>ISBN</center></th>
        <th><center>Title</center></center></th>
        <th><center>Publisher</center></th>
        <th><center>PublishDate</center></th>
        <th><center>操作</center></th>
  </tr>
    
	{% for book in book_lst %}

	<tr>
        <td>{{ book.ISBN }}</td>
        <td><a href="/detailedbook/?ISBN={{book.ISBN}}">{{ book.Title }}</a></td>
        <td>{{ book.Publisher }}</td>
        <td>{{ book.PublishDate}}</td>
        <td><center><button><a href="/delete/?ISBN={{book.ISBN}}">delete</a></button></center><center><button><a href="/updata/?ISBN={{book.ISBN}}">updata</a></button></center></td>
	</tr>

	{% endfor %}
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<center><button><a href = "../index/"> back </a></button></center>
<p>&nbsp;</p>
</body>
</html>